In [1]:
%load_ext autoreload
%autoreload 2
from functions import *
from tqdm import tqdm
order = pd.read_csv(
    "./data/order_stkhf202101_000001sz.csv",
    dtype={
        "Exchflg": "int",
        "Code": "string",
        "Code_Mkt": "string",
        "Qdate": "string",
        "Qtime": "string",
        "SetNo": "int",
        "OrderRecNo": "int",
        "OrderPr": "float",
        "OrderVol": "float",
        "OrderKind": "string",
        "FunctionCode": "string",
    },
)
order

In [2]:
from functions import *
from tqdm import tqdm

In [3]:
order = pd.read_csv(
    "./data/order_stkhf202101_000001sz.csv",
    dtype={
        "Exchflg": "int",
        "Code": "string",
        "Code_Mkt": "string",
        "Qdate": "string",
        "Qtime": "string",
        "SetNo": "int",
        "OrderRecNo": "int",
        "OrderPr": "float",
        "OrderVol": "float",
        "OrderKind": "string",
        "FunctionCode": "string",
    },
)

In [4]:
order

,Exchflg,Code,Code_Mkt,Qdate,Qtime,SetNo,OrderRecNo,OrderPr,OrderVol,OrderKind,FunctionCode
0,2,1,000001.SZ,2021-01-25,09:15:00,11,1097,24.20,100.0,2,2
1,2,1,000001.SZ,2021-01-25,09:15:00,11,1122,19.83,100.0,2,1
2,2,1,000001.SZ,2021-01-25,09:15:00,11,1810,24.23,5000.0,2,2
3,2,1,000001.SZ,2021-01-25,09:15:00,11,1827,20.11,1600.0,2,1
4,2,1,000001.SZ,2021-01-25,09:15:00,11,1960,24.23,100.0,2,2
...,...,...,...,...,...,...,...,...,...,...,...
632383,2,1,000001.SZ,2021-01-29,14:59:59,14,25085183,22.87,1300.0,2,2
632384,2,1,000001.SZ,2021-01-29,14:59:59,14,25085462,23.10,100.0,2,2
632385,2,1,000001.SZ,2021-01-29,14:59:59,14,25085873,22.87,17000.0,2,2
632386,2,1,000001.SZ,2021-01-29,15:00:00,14,25085917,23.10,2000.0,2,2
632387,2,1,000001.SZ,2021-01-29,15:00:00,14,25085977,23.12,800.0,2,1

In [5]:
trade = pd.read_csv(
    "./data/trade_stkhf202101_000001sz.csv",
    dtype={
        "Exchflg": "int",
        "Code": "string",
        "Code_Mkt": "string",
        "Qdate": "string",
        "Qtime": "string",
        "SetNo": "int",
        "RecNo": "int",
        "BuyOrderRecNo": "int",
        "SellOrderRecNo": "int",
        "Tprice": "float",
        "Tvolume": "float",
        "Tsum": "float",
        "Tvolume_accu": "float",
        "OrderKind": "string",
        "FunctionCode": "string",
        "Trdirec": "string",
    },
)

In [6]:
trade

,Exchflg,Code,Code_Mkt,Qdate,Qtime,SetNo,RecNo,BuyOrderRecNo,SellOrderRecNo,Tprice,Tvolume,Tsum,Tvolume_accu,Tsum_accu,OrderKind,FunctionCode,Trdirec
0,2,1,000001.SZ,2021-01-25,09:15:00,11,1961,0,1960,0.00,100.0,0.0000,100.0,0.000000e+00,<NA>,C,0
1,2,1,000001.SZ,2021-01-25,09:15:00,11,2006,2005,0,0.00,100.0,0.0000,200.0,0.000000e+00,<NA>,C,0
2,2,1,000001.SZ,2021-01-25,09:15:01,11,71769,0,35256,0.00,2300.0,0.0000,2500.0,0.000000e+00,<NA>,C,0
3,2,1,000001.SZ,2021-01-25,09:15:04,11,135669,135668,0,0.00,1600.0,0.0000,4100.0,0.000000e+00,<NA>,C,0
4,2,1,000001.SZ,2021-01-25,09:15:05,11,145759,137238,0,0.00,300.0,0.0000,4400.0,0.000000e+00,<NA>,C,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
573136,2,1,000001.SZ,2021-01-29,15:00:00,14,25086849,25036621,25075502,23.09,500.0,1.1545,178775164.0,1.654379e+08,<NA>,F,1
573137,2,1,000001.SZ,2021-01-29,15:00:00,14,25086850,25036621,25079054,23.09,100.0,0.2309,178775264.0,1.654379e+08,<NA>,F,1
573138,2,1,000001.SZ,2021-01-29,15:00:00,14,25086851,25036621,25081149,23.09,1700.0,3.9253,178776964.0,1.654379e+08,<NA>,F,1
573139,2,1,000001.SZ,2021-01-29,15:00:00,14,25086852,25036621,25082203,23.09,1000.0,2.3090,178777964.0,1.654379e+08,<NA>,F,1
573140,2,1,000001.SZ,2021-01-29,15:00:00,14,25086853,25036621,25084792,23.09,2000.0,4.6180,178779964.0,1.654379e+08,<NA>,F,1

In [7]:
# 计算所有因子
for i in tqdm(range(1, 39 + 1)):
    if i <= 8 or 24 <= i <= 27:
        # 使用 order 计算因子
        Ai = eval("calculate_A" + str(i))(order)
    elif 10 <= i <= 16 or i >= 28:
        # 使用 trade 计算因子
        Ai = eval("calculate_A" + str(i))(trade)
    elif 17 <= i <= 23:
        # 使用 trade 和 order 计算因子
        Ai = eval("calculate_A" + str(i))(trade, order)
    else:
        # i == 9，不可计算
        continue
    # Save factor
    Ai.to_csv("./factor/A" + str(i) + ".csv", index=False)

100%|██████████| 39/39 [00:11<00:00,  3.28it/s]